{
    "parser": "@babel/eslint-parser",
    "extends": ["eslint:recommended", "prettier"],
    "plugins": ["prettier"],
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "impliedStrict": true,
            "classes": true
        }
    },
    "ignorePatterns": ["**/dist/*"],
    "rules": {
        "no-console": "off",
        "no-unused-vars": [
            "error",
            {
                "args": "none"
            }
        ],
        "no-shadow": [
            2,
            {
                "hoist": "all",
                "allow": ["req", "res", "resolve", "reject", "done", "next", "error", "props"]
            }
        ],
        "import/no-unresolved": "off"
    }
}
